---
title: Compliance
heading: ENG LLC
---

<!-- Hero -->
<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Compliance<span class="fc-orange">.</span></h2>
					<h4 class="hero__subheading">Our committment to you. <br /> &nbsp;</h4>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">
					<h2 class="section__heading text-center">
						 ENG is committed to delivering relevant experts in a prompt, fully transparent manner.
					</h2>
					<p class="standard-p">
						<img src="/assets/img/compliance-graph.jpg" width="100%" height="auto">
					</p>
					<p class="standard-p">
						Our project-specific recruitment service is the most customizable and inclusive of compliance checks & balances.  We started with the stringent requirements of a FINRA registered broker-dealer and then designed a 10-step process that empowers multiple individuals with compliance oversight throughout the process.
						<br><br>
						A member of ENG's Compliance team is always available to elaborate on the specifics of our interactive framework.  In the meantime they fall into four stages:
					</p>
					<h3 class="h3 avenir-bold">/assets
						Phase 1 | PRE-PROJECT:  ESTABLISH PROTOCOL
					</h3>
					<p class="standard-p">
						ENG understands that clients have different compliance preferences.
						Before you even engage with an ENG expert, we need to understand the amount of resources your organization is able to allocate to compliance: High/Med/Low.  Clients that are operationally 'lean', will simply rely on ENG's framework to a greater extent.
						<br><br>
						Below are compliance settings that cannot be adjusted:
						<br><br>
						&bull; HEALTHCARE | Exclude any individuals that are involved in clinical trial(s) for which results have not yet been released<br>
						&bull; GOVERNMENT | Exclude any individual who is in a position to vote upon or otherwise influence pending legislation, policy or contract
					</p>
					<h3 class="h3 avenir-bold">/assets
						Phase 2 | DURING THE PROJECT
					</h3>
					<p class="standard-p">
						ENG's Research team will spend significant time interacting with experts to evaluate their experiences and discuss compliance.
						<br><br>
						This allows us to:
						<br><br>
						&bull; Assess experts for relevancy and educate them on compliance matters (conflicts of interest, confidential/proprietary information, fiduciary duties, etc.).  This hand vetting process enables ENG to handle projects with the utmost discretion.<br>
						&bull; Discern between experts who are employed at companies with publicly-traded securities vs. companies that are privately held; note that less than 5% of our network is comprised of experts from public companies
						<br><br>
						It is during this stage that all experts must review <a href="/expert-agreement.php">ENG's Terms & Conditions</a>.  Attestations to this language are captured within our tiered-access Expert Relationship Management System (ERMS)
					</p>
					<h3 class="h3 avenir-bold">/assets
						Phase 3 | THE EVENT
					</h3>
					<p class="standard-p">
						By scheduling, connecting, and hosting all phone consultations, ENG is able to offer compliance procedures that are highly granular and customizable:
						<br><br>
						&bull; Set the Day/Time for the event and notify all participants<br>
						&bull; Designate Compliance Officer authority as well as triggering criteria<br>
						&bull; Delegate authorization controls to Approve/Reject certain events<br>
						&bull; Assign chaperone for phone calls involving certain types of experts (event cannot occur without chaperone)<br>
						&bull; Explicitly verbal compliance statements to all parties
					</p>
					<h3 class="h3 avenir-bold">/assets
						Phase 4 | POST EVENT
					</h3>
					<p class="standard-p">
						Given the highly-regulated industries in which many of our clients operate, ENG understands that a system must capture key information: expert's work history, clients' project details, event day/time, participant names, duration, etc.
						<br><br>
						The additional benefits of our ERMS platform enables:
						<br><br>
						&bull; Central point of access for Compliance Officers to monitor all activity<br>
						&bull; On-demand activity reports that are a perfect audit trail for regulatory bodies such as the Securities Exchange Commission, Financial Services Authority.<br>
						&bull; Periodic, continuing-education training for experts on compliance best practices
					</p>

					<h3 class="h3 avenir-bold">/assets
						ENG | CORPORATE USAGE DATABASE
					</h3>
					<p class="standard-p">
						ENG understands that certain employers may wish to specify how their employees interact with ENG's clients.
						Therefore, ENG maintains a list of firms that have specific preferences for how ENG must engage with their employees.
						<br><br>
						Employers can contact ENG's Compliance Department to discuss their conditions here:
						<br><br>
						<span class="jumpnav"><a href="#registration" class="btn orange">Register Here</a></span>
						<br><br>
						The ENG Corporate Database is a channel through which employers can outline how their employees and/or representatives interact with ENG's client base.
						Once an employer is registered in the Database, their preferences are fully integrated with ENG's proprietary ERMS | Expert Relationship Management System.
					</p>
					<h2 id="registration" class="section__heading push--20 text-center">
						 Register a Company
					</h2>
					<p class="standard-p text-center">Please complete the form below to enroll in the ENG Corporate Database:</p>
					<div class="full-width secondary-contact-form">
						<form id="form6" class="full-width wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://engllc.wufoo.com/forms/w1wisgff08kxa5z/#public">

							<label>
								Your Name
								<input tabindex="1" id="Field3" placeholder="Full Name" name="Field3" type="text" class="name-copy field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required="">
							</label>
							<label>
								Your Email
								<input tabindex="2" id="Field7" placeholder="Email" name="Field7" type="email" spellcheck="false" class=" email-copy field text medium" value="" maxlength="255" tabindex="4" required="">
							</label>
							<label>
								Telephone
								<input tabindex="3" id="Field4" placeholder="Telephone Number" name="Field4" type="text" class="tel-copy field text medium" value="" maxlength="255" tabindex="5" onkeyup="" required="">
							</label>
							<label>
								Your Title
								<input tabindex="4" id="Field10" placeholder="Job Title" name="Field10" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="">
							</label>
							<label>
								Company Represented
								<input tabindex="5" id="Field9" placeholder="Company Name" name="Field9" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="">
							</label>
							<label>
								&nbsp;
								<input type="hidden" id="idstamp" name="idstamp" value="I7ME9NvvAoKUDvDTMg1r9R3mJdid+dhH52cwxuwtTiM=">
								<input tabindex="6" id="saveForm" name="saveForm" class="btn orange btTxt submit" type="submit" value="Submit" onClick="_gaq.push(['_trackEvent', 'Contact Form', 'Submit', 'Register a Company']);">
							</label>
						</form>
					</div>
				</div>
			</div>
		</section>
