---
title: Compliance
heading: ENG LLC
---

<!-- Hero -->
<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-center">
					<h1 class="hero__heading">Compliance<span class="fc-orange">.</span></h1>
					<h4 class="hero__subheading">Governance, Risk and Compliance</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="row">
	<div class="inner-container">
			<h3 class="section__heading text-left">
				 As a sophisticated manager, you know that proper research is essential in helping your organization thrive in today’s fast-moving, globalized and technology-heavy environment.
			</h3>
			<div class="hr hr--tight"></div>
			<p class="lead avenir-regular text-right">
				You want to use an expert network as an efficient point of access to a vast range of specialists, but are concerned about the regulatory & administrative burdens to your organization. ENG’s Expert Relationship Management System<sup><sup>©</sup></sup> (ERMS<sup><sup>©</sup></sup>) is the simplest and most effective way to manage these tasks.
			</p>
			<h2 class="section__subheading text-center push--100">
				It’s so simple, we call it <br /><span class="strong">Compliance-as-a-Service.</span>
			</h2>
	</div>
</section>

<!-- Eng Difference -->
<div class="row expanded hero--break align-middle" id="eng-difference">
  <div class="columns">
    <div class="row align-middle align-center">
      <div class="columns text-center shrink">
        <h3 class="break-hero__heading">ENG is committed to delivering research in a manner that’s prompt, relevant, and safe.</h3>
      </div>
    </div>
  </div>
</div>

<section class="row">
	<div class="inner-container">
		<h3 class="section__heading text-center">
			 ERMS<sup>©</sup> is the only cloud-based solution that includes end-to-end coverage of all compliance & administrative tasks within a project’s lifecycle.
		</h3>
		<div class="hr hr--tight"></div>
		<p class="lead avenir-regular text-center">
			It provides a centralized, but multi-layered portal for research teams as small as 5 or as large as 500 to manage interactions with external experts.
		</p>
		<div class="columns text-center fc">
			<h3 class="section__heading push--60">Features:</h3>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Unique login for each team member
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Segregation of duties / assigned roles
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Multiple layers of gatekeepers (empowered to Approve / Reject)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Event scheduling + calendar integration
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						International conference (with local access numbers)
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Backgrounds of all event participants (esp. employment history)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Publicly-listed vs privately-owned company distinction
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Customizable compliance warnings (written + verbal)
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Event chaperone (announced / unannounced)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Ad hoc data & analytics
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Audit trail / audit reporting
	        </p>
				</div>

			</div>
		</div>
		<div class="hr"></div>
		<p class="lead avenir-regular">
			In addition, our Legal, Compliance and Technology team is constantly monitoring the regulatory landscape for Legal & Compliance tasks that can be incorporated into ERMS.  So whether your regulatory concerns pertain to the SEC, FINRA, GDPR, or MiFID, you’ll have peace of mind knowing that ERMS is continuously adopting best practices.
		</p>
		<div class="hr"></div>
		<h3 class="section__subheading push--40 text-center"><span class="strong jumpnav">Contact us below</span> to learn how we can customize ERMS to meet your organization’s compliance needs.</h3>
	</div>
</section>
