---
title: Recruiting
heading: ENG LLC
---

---
title: Compliance
heading: ENG LLC
---

<!-- Hero -->
<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-center">
					<h1 class="hero__heading">ENG Recruiting<span class="fc-orange">.</span></h1>
					<h4 class="hero__subheading">Talent Delivered.</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="row">
	<div class="inner-container">
			<h2 class="section__heading text-center">
				 Accelerate your organization’s competitiveness with the right hire.
			</h2>
			<div class="hr hr--tight"></div>
			<p class="lead avenir-regular text-center">
				In today’s increasingly globalized and technical business environment, standing still is not an option.  Your organization’s leadership team must understand the complexities of the threats and opportunities you face, and be able to implement positive cultural change.
			</p>
			<h3 class="section__subheading text-center push--100">
				Assembling a team doesn’t need to be a complex. <br /><span class="strong">We make hiring precise & easy.</span>
			</h3>
	</div>
</section>

<!-- Eng Difference -->
<div class="row expanded hero--break align-middle" id="eng-difference">
  <div class="columns">
    <div class="row align-middle align-center">
      <div class="columns text-center shrink">
        <h2 class="break-hero__heading">The ENG Difference</h2>
      </div>
    </div>
  </div>
</div>

<!-- Lets Work Together -->
<div class="section section--white m-bg">
  <div class="row align-center">
    <div class="columns xsmall-12 medium-8">
      <div class="row feature-block--benefits">
        <div class="columns">
          <h3 class="section__heading">Market Insight.</h3>
          <p class="block__text compact">In today’s increasingly globalized and technical business environment, standing still is not an option.  Your organization’s leadership team must understand the complexities of the threats and opportunities you face, and be able to implement positive cultural change.</p>
        </div>
      </div>
      <div class="row push--50">
        <div class="columns">
          <h3 class="section__heading">Simplicity.</h3>
          <p class="block__text compact">Assembling this team doesn’t need to be a complex, time-consuming, or costly. We cut down the noise and simplify the process.</p>
        </div>
      </div>
      <div class="row push--50">
        <div class="columns">
          <h3 class="section__heading">Global Capability.</h3>
          <p class="block__text compact">We work with companies in all industries and sectors; let us unleash our search capabilities on your behalf.  </p>
        </div>
      </div>
			<div class="row push--50">
        <div class="columns">
          <h3 class="section__heading">AI and Emotional IQ<sup>&reg;</sup></h3>
          <p class="block__text compact">We are the only firm that uses artificial intelligence and machine learning to amplify the capabilities of our search team. <br /><br />Additionally, we are the only firm with ENG Emotional IQ ® - this means you get a complete real-world profile on potential candidates.</p>
        </div>
      </div>
			<div class="row push--50">
        <div class="columns">
          <h3 class="section__heading">360<sup>&deg;</sup> Technology</h3>
          <p class="block__text compact">Technology enables your HR team to track all candidates through your entire review process: initial screen, phone/in-person meetings, feedback, onboarding, exit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Eng Difference -->
<div class="row expanded hero--break align-middle" id="eng-difference">
  <div class="columns">
    <div class="row align-middle align-center">
      <div class="columns text-center shrink">
        <img src="/assets/img/eng-air-knockout.svg" width="300" />
				<h4 class="hero__heading break-hero__heading push--20">Tagline here.</h4>
      </div>
    </div>
  </div>
</div>

<section class="row">
	<div class="inner-container">
		<h3 class="section__heading text-center">
			 ENG <small>|</small> AIR is the only artificial intelligence and machine learning recruiting tool used amplify the capabilities of our search teams.
		</h3>
		<div class="hr hr--tight"></div>
		<p class="lead avenir-regular text-center">
			It provides us with ... [ copy needed ]
		</p>
		<div class="columns text-center fc">
			<h3 class="section__heading push--60">Features:</h3>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Unique login for each team member
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Segregation of duties / assigned roles
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Multiple layers of gatekeepers (empowered to Approve / Reject)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Event scheduling + calendar integration
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						International conference (with local access numbers)
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Backgrounds of all event participants (esp. employment history)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Publicly-listed vs privately-owned company distinction
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Customizable compliance warnings (written + verbal)
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Event chaperone (announced / unannounced)
	        </p>
				</div>
			</div>

			<div class="row expanded push--40 align-middle align-center">
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Ad hoc data & analytics
	        </p>
				</div>
				<div class="columns xsmall-12 small-6 large-4 feature-block feature-block--tight">
	        <p class="block__text">
						Audit trail / audit reporting
	        </p>
				</div>

			</div>
		</div>
		<div class="hr"></div>
		<p class="lead avenir-regular">
			<span class="strong">Lorem ipsum is placeholder text</span> commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
		</p>
		<div class="hr"></div>
		<h3 class="section__subheading push--40 text-center"><span class="strong jumpnav">Contact us below</span> to get started.</h3>
	</div>
</section>
