---
title: Recruiting
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Talent Delivered.<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section--white section--flush">
  <div class="row align-center">
    <div class="columns text-center xsmall-10">
      <h2 class="section__heading">Not Databse Driven.</h2>
      <h2 class="section__subheading">We're a Custom Research Team</h2>
      <p class="avenir-regular lead push--20">
        In today’s increasingly globalized and technical business environment, standing still is not an option.  Your organization’s leadership team must understand the complexities of the threats and opportunities you face, and be able to implement positive cultural change.
      </p>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns xsmall-10 text-left">
      <div class="feature-block">
        <h4 class="block__heading">Precise & Easy.</h4>
        <p class="block__text">
          With the right partner, assembling this team doesn’t need to be a complex, time-consuming, or costly process.
        </p>
      </div>
    </div>
    <div class="columns xsmall-10 text-left push--60">
      <div class="feature-block">
        <h4 class="block__heading">A Broad Network.</h4>
        <p class="block__text">
          We work with companies in all industries and sectors; let us unleash our search capabilities on your behalf.
        </p>
      </div>
    </div>
    <div class="columns xsmall-10 text-left push--60">
      <div class="feature-block">
        <h4 class="block__heading">AI and Macine Learning.</h4>
        <p class="block__text">
          We are the only firm that uses artificial intelligence and machine learning to amplify the capabilities of our search team.
        </p>
      </div>
    </div>
    <div class="columns xsmall-10 text-left push--60">
      <div class="feature-block">
        <h4 class="block__heading">ENG Emotional IQ<sup>&reg;</sup>.</h4>
        <p class="block__text">
          We are the only firm with ENG Emotional IQ<sup>&reg;</sup> - this means you get a complete real-world profile on potential candidates.
        </p>
      </div>
    </div>
    <div class="columns xsmall-10 text-left push--60">
      <div class="feature-block">
        <h4 class="block__heading">End to End Technology.</h4>
        <p class="block__text">
          Technology enables your HR team to track all candidates through your entire review process: initial screen, phone/in-person meetings, feedback, onboarding, exit.
        </p>
      </div>
    </div>
  </div>


</section>

  {{>feature-select}}

</div>
