---
title: Experts
heading: ENG LLC
---

	<!-- Hero -->
	<div class="hero hero--short">
		<div class="row align-middle align-center">
			<div class="columns xsmall-12">
				<div class="row hero__headlines expanded align-middle">
					<div class="columns text-right">
						<h2 class="hero__heading">Experts<span class="fc-orange">.</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="row">
			<div class="inner-container">
				<div class="content-wrapper for-experts">
					<p class="standard-p lead">
						Thank you for your interest in sharing your knowledge through ENG. Our exclusive network contains experts from all industries and along every point of the supply chain, including: C-level executives, doctors, researchers, distributors, resellers, suppliers, manufacturers, customers, among many others. They understand the dynamics and high-level trends of their industries, which our clients find indispensable to the due diligence process
					</p>
					<p>
						Interactions between ENG experts and our clients include Phone Consultations, In-Person Meetings, Long/Short Term Engagements, Panelist Events, Board Placements, Field Visits as well as Deal Sourcing Arrangements.
						<br><br>
						<strong>Apply to join us</strong> - we'd like to learn more about your expertise. If there's a fit, we'll begin presenting you with as many different types of events as you deem suitable.
					</p>
					<p class="standard-p text-left">
						<a class="btn orange" href="https://experts.eng-llc.com/register">APPLY TO BE AN ENG EXPERT</a>
						<a class="btn orange" href="https://experts.eng-llc.com">ENG EXPERT LOGIN</a>
					</p>
				</div>
			</div>
	</section>

	<section class="row expanded">
		<div class="full-width">
			<div class="mid-section--full">
				<div class="mid-section--center">
					<div class="vertical-center">
						<h1 class="section-hero--heading">How We'll Work Together</h1>
					</div>
				</div>
			</div>
			<img class="float-left" src="assets/img/eng-hero-short.jpg" width="100%" height="auto">
		</div>
	</section>

	<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">

					<p class="col span_12 standard-p medium text-left"><strong class="orange-highlight">1.</strong>&nbsp; Receive Details on Projects in Your Area of Expertise</p>
					<p class="col span_12 standard-p medium text-left"><strong class="orange-highlight">2.</strong>&nbsp; Speak with ENG Researcher to Determine Suitability</p>
					<p class="col span_12 standard-p medium text-left"><strong class="orange-highlight">3.</strong>&nbsp; Schedule Consultation Around Your Availability</p>
					<p class="col span_12 standard-p medium text-left"><strong class="orange-highlight">4.</strong>&nbsp; Participate in ENG Events</p>
					<p class="col span_12 standard-p medium text-left"><strong class="orange-highlight">5.</strong>&nbsp; Receive Compensation </p>

					<div class="full-width push--60">
						<h2 id="faqs" class="section__heading text-center">
							Frequently Asked Questions:
						</h2>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> Why was I contacted?
						</p>
						<p class="standard-p full-width text-left no-padding">
							We reached out to you because your background & experiences seem relevant for one of our clients' projects. Your ENG Research contact will speak with you about your interest and suitability for different types of events. If you weren't directly contacted by ENG, feel free to apply to our network, and we’ll reach out to learn more about your expertise.
						</p>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> Whom will I be speaking to?
						</p>
						<p class="standard-p full-width text-left no-padding">
							ENG works with Hedge/Mutual Funds, Corporations, Private Equity, Venture Capital, Professional Service Firms, Investment Banks, Law, Life Sciences and Start-ups. Speaking with you helps them learn faster.
						</p>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> What am I expected to discuss during a consultation?
						</p>
						<p class="standard-p full-width text-left no-padding">
							All discussions are of a general nature, and should be anchored in your experiences and observations. There should never be discussion of any confidential or proprietary information.
						</p>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> How long will do phone calls or meetings last?
						</p>
						<p class="standard-p full-width text-left no-padding">
							Unless discussed, please allocate one hour for the duration of the event. We’ll always schedule events around your availability.
						</p>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> Do I need to sign a contract?
						</p>
						<p class="standard-p full-width text-left no-padding">
							Yes - by agreeing to ENG’s <a href="/expert-agreement">Terms & Conditions</a>, you become eligible for consulting arrangements with our clients. The agreement does not restrict any current or future employment.  Our relationship is ongoing but can be terminated at any time.
						</p>
					</div>
					<div class="full-width margin-top-40">
						<p class="standard-p full-width orange-highlight medium text-left no-padding">
							<i class="fa fa-question-circle normal"></i> What about compensation?
						</p>
						<p class="standard-p full-width text-left no-padding">
							For your time and efforts, ENG can compensate you, your company, or a charity of your choice.  Speak with your ENG Research contact to discuss payment options further.
						</p>
					</div>
					<div class="full-width margin-top-20">&nbsp;</div>
				</div>
			</div>
	</section>
