---
title: Expert Agreement
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Expert Agreement<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">
					<p class="standard-p"><strong>Expert Network Group, LLC</strong></p>

					<p class="standard-p">THIS CONSULTING AGREEMENT (this &ldquo;Agreement&rdquo;) by and between [NAME], an individual residing at [ADDRESS] (&ldquo;Expert&rdquo;), and Expert Network Group, LLC, a New York limited liability company, with an address at 21 West 46th Street, New York, NY, 10036 (the &ldquo;Company&rdquo;).</p>

					<p class="standard-p">1.&nbsp;<strong>Retention and Duties</strong></p>

					<p class="standard-p">Subject to the terms and conditions contained herein, the Company hereby retains Expert, and Expert hereby agrees to provide services for the Company in accordance with the terms hereof. Expert covenants and agrees, during the Term, to render independent consulting services to customers of the Company. The extent of such services is to be determined by the Company and each individual Company customer, to aid in furthering the business and interests of the Company.</p>

					<p class="standard-p">2.&nbsp;<strong>Relationship Between The Parties</strong></p>

					<p class="standard-p">Expert is retained by the Company only for the purpose and to the extent set forth in this Agreement. Expert&rsquo;s relation to the Company shall, during the term of this Agreement and any extension thereof, be that of an independent contractor, not an employee of the Company. Expert will not be entitled to participate in any benefit plan of Company. Expert may not enter into any agreement, understanding or other commitment that is binding on the Company or hold himself/herself out as having such authority. Expert shall be free to dispose of such portion of his/her time, energy, and skill that he/she is not obligated to devote to the Company under this Agreement, in such manner as he/she sees fit and to such persons, firms, or corporations as Expert deems appropriate, so long as he/she complies with all terms and conditions of this Agreement. Expert and the Company acknowledge and agree that (i) the services hereunder are not necessarily to be rendered at the offices of the Company; (ii) there are no regular hours for the provision of such services; (iii) such services shall not be a full-time obligation of Expert; and (iv) Expert may provide services to others during the term of this Agreement to the extent that the provision of such services is not contrary to the terms this Agreement.</p>

					<p class="standard-p">3.&nbsp;<strong>Compensation</strong></p>

					<p class="standard-p">(a) Expert will provide to customers of the Company independent consulting services upon terms to be agreed for each project by the Expert and the Company. Expert shall not commence work on any project until the scope of the work is defined and a rate is determined. If rate is hourly, unless agreed otherwise, the Company will pay Expert in increments of five (5) minutes, rounded up to the next five (5) minute interval at the negotiated rate. Company may pay for any reasonable expenses incurred for consulting services, provided that the Company conveys their customer&#39;s prior written approval for any such expenses. Unless agreed otherwise, Experts will be paid on a monthly basis, by the 15th of the month following the month consulting services are provided, without withholding federal, state or city taxes. If required, form 1099 will be provided. In order to process payment, the Company may require Expert to provide additional information (including social security number or equivalent tax identification number) about Expert or Expert&rsquo;s employer/company as part of the Company&rsquo;s security procedures.</p>

					<p class="standard-p">(b) Expert will not disclose the contents of this Agreement to third parties, including Company customers.</p>

					<p class="standard-p">(c) During the Term of this Agreement, Expert agrees not to provide any subsequent services directly to any Customer of the Company introduced to you by the Company (ENG). All follow-up work requested by the Customer must be arranged through the Company for Expert to be compensated. In the event that such arrangement is not made prior to the performance of services, Expert will not be eligible for payment by the Company, and may be in violation of Company Customer compliance procedures.</p>

					<p class="standard-p">4.&nbsp;<strong>Confidentiality</strong></p>

					<p class="standard-p">Expert recognizes and acknowledges that, as an independent Expert to the Company pursuant to this Agreement, he/she will have access to confidential and proprietary information regarding the Company and its customers (the &ldquo;Confidential Information&rdquo;). For this purpose, Confidential Information is defined as that information which is reasonably understood as being confidential or is specifically marked as &ldquo;Confidential&rdquo; (or bears a similar legend denoting the disclosing party&#39;s proprietary interest therein) and is in written or tangible form (if oral information, identified as proprietary at the time of oral disclosure and reduced to written or tangible form within fifteen (15) days of oral disclosure); provided, however, Confidential Information&quot; shall not include any information that is: (i) already in the possession of the receiving party; (ii) independently developed by the receiving party; (iii) publicly disclosed by the disclosing party; (iv) rightfully received by the receiving party from a third party; (v) approved for release by written agreement with the disclosing party; (vi) available by the inspection of products marketed or offered for sale by either party hereto or others in the ordinary course of business; or (vii) disclosed pursuant to the requirement or request of a governmental agency or third party to the extent such disclosure is required by operation of law, regulation or court order. Expert agrees that, during the Term and continuing thereafter, he/she will not divulge or disclose any Confidential Information to any person, firm or other entity, except (a) as necessary to fulfill his/her duties as a Expert, (b) as authorized by the Company, or (c) as required by law or judicial or administrative process. Expert hereby agrees that the Confidential Information will be used solely for the purpose of performing the services set forth under this Agreement, and that such material will be kept confidential at all times. Expert further agrees to cause any and all of his/her future advisors, agents or representatives to keep the Confidential Information confidential. The receiving party agrees, for a period of three (3) years from the date of termination of this Agreement (the &ldquo;Restricted Period&rdquo;), not to disclose the other party&#39;s Confidential Information outside of the receiving party or use such Confidential Information for any purpose other than for the benefit of the disclosing party. The standard of care to be utilized by the receiving party in the performance of the obligations set forth in this Agreement shall be the standard of care utilized by the receiving party in treating its own Confidential Information. Confidential Information disclosed hereunder shall remain the property of the disclosing party. No license under any patent, copyright, trademark or trade secret is granted or implied by the disclosing party. Following the end of the Term and any extensions agreed upon by the parties, Expert agrees not to disclose any Confidential Information during the Restricted Period, unless advised by legal counsel that he/she is legally required to disclose the Confidential Information, provided that Expert agrees to disclose only that portion of the Confidential Information which is legally required or ordered to be disclosed. The provisions of this Section shall survive the termination of this Agreement.</p>

					<p class="standard-p">In as much as any breach of the terms in this Section may result in immediate and irreparable injury to the Company (for which there is no adequate remedy at law), in addition to such remedies which the Company may have at law, the Company shall be entitled to immediate injunctive or equitable relief in the event of any breach of such terms notwithstanding Section 11 below. Expert acknowledges that the restrictions set forth in Section 4 , and the periods set forth therein, are reasonable and necessary for the protection of the Company&rsquo;s trade secrets and Confidential Information. The Company shall provide Expert with written notice of breach of Section 4 by the Expert (&ldquo;Notice of Breach&rdquo;). Expert shall submit to the Company, within three business (3) days of receipt of the Notice of Breach, a written response stating Expert&rsquo;s planned course of action to cure such breach. In the event that Expert does not cure any such breach in full within two (2) weeks of the date of receipt of the Notice of Breach (such determination to be made by the Company), Expert shall cease to be entitled to receive any fees under this Agreement, subject to Expert&rsquo;s right to dispute Company&rsquo;s determination and recover any fees withheld in accordance with the Section 11.</p>

					<p class="standard-p">5.&nbsp;<strong>Term and Termination</strong></p>

					<p class="standard-p">The term of this Agreement shall commence upon execution by both parties and until terminated by either party. Either party shall have the right to terminate this Agreement at any time by providing written notice to the other party. Termination shall not affect any obligations outstanding at the time of termination.</p>

					<p class="standard-p">The Company may terminate this Agreement for &ldquo;Cause&rdquo; upon notice and thereby immediately terminate this Agreement, owing no further payments hereunder. For purposes of this Agreement, the Company shall have &ldquo;Cause&rdquo; to terminate this Agreement if Expert, in the reasonable judgment of the Company, (i) materially breaches any of Expert&rsquo;s representations, warranties, agreements, obligations or duties under this Agreement including, but not limited to, the disclosure of any material non-public information, (ii) willfully converts to his/her own use any property of the Company without the Company&rsquo;s consent, or (iii) behaves in a manner which materially impairs the Company&rsquo;s relationships with the Company&rsquo;s lenders, investors, strategic partners, Customers, clients or vendors. In the event of the termination of this Agreement for Cause above, the Company shall have no further obligation to the Expert.</p>

					<p class="standard-p">6.&nbsp;<strong>Representations and Warranties: Indemnification</strong></p>

					<p class="standard-p">(a) Expert hereby represents and warrants that Expert&rsquo;s execution of this Agreement and performance of the independent consulting services to be provided hereunder will not violate any contractual obligation to, or any policy of, any employer or former employer of Expert. Expert will not use or disclose any material, non-public information in performing the services hereunder. No confidential, proprietary or trade secret information will be used or disclosed in performing the services. Expert will take no action which will cause Expert, the Company or any customer of the Company to violate any federal or state securities law, rule or regulation. In the event that Expert discloses material, non-public information or discovers that such information has been disclosed, he/she will immediately notify the Company and decline compensation for services provided and the Company shall not be required to pay Expert compensation for those services.</p>

					<p class="standard-p">(b) Expert hereby warrants and represents that he/she is not employed by a Company whose securities are publicly traded. In the event that Expert has previously worked for a publicly traded company, Expert will not provide services that relate to the former employer until earnings have been released for the last quarter of Expert&rsquo;s employment.</p>

					<p class="standard-p">(c) To the extent that Expert has any question as to whether services performed hereunder will result in a conflict of interest or a violation of any of the representations set forth in this Agreement, Expert will make a good faith inquiry concerning such possible conflict or violation with the appropriate person prior to performing such services and will advise the Company of the analysis.</p>

					<p class="standard-p">(d) Expert represents and warrants that he/she will not provide any investment advice including, but not limited to, providing any advice concerning the advisability of investing in, buying or selling any particular security or pursuing any investment strategy, providing any recommendation or rating of any security, providing advice with respect to the value of any particular security, or soliciting any investment. In addition, Expert agrees to provide customer with information of a general nature related to expert&rsquo;s industry based upon his/her professional experience.</p>

					<p class="standard-p">(e) Expert hereby warrants and represents that he/she will represent his/her qualifications, credentials, background and experience accurately and permits the sharing of such information with Company Customers.</p>

					<p class="standard-p">(f) Expert acknowledges that the Company reserves the right to monitor or participate in communications made in connection with the provision of services under this Agreement. Expert will at all times act in good faith to ensure compliance with the terms of this Agreement.</p>

					<p class="standard-p">(g) Expert will defend, indemnify and hold harmless Company, its customers and their officers, agents, employees, successors, assignees and licensees from and against any and all claims, damages, liabilities, costs and expenses, including reasonable attorneys&rsquo; fees (collectively, &ldquo;Damages&rdquo;), arising out of: (i) any breach by Expert of any representation, warranty or agreement made by Expert; and (ii) any acts of gross negligence or willful misconduct committed by Expert in connection with Expert&rsquo;s services hereunder.</p>

					<p class="standard-p">(h) Expert agrees to indemnify, defend and hold harmless the Company and its customers from any and all losses, liabilities, damages and expenses, including reasonable attorneys&rsquo; fees and litigation costs, arising from or related to any claim brought against the Company or its customers by a third party arising from or relating to the breach by Expert of any of Expert&rsquo;s obligations hereunder.</p>

					<p class="standard-p">7.&nbsp;<strong>Limitation Of Liabilities</strong></p>

					<p class="standard-p">In no event shall the Company be liable to Expert or any third party for any damages resulting from or relating to Expert&rsquo;s provision of services under this Agreement or the business operation of the Company including, without limitation, for any incidental, consequential, punitive or special damages.</p>

					<p class="standard-p">8.&nbsp;<strong>Publicity</strong></p>

					<p class="standard-p">Expert agrees not to use the name of Company, or any customer or client of the Company, in any external sales or marketing publication or advertisement, without the prior written consent of Company. Expert also agrees not to make any public disclosure, except as may be legally required, relating to this Agreement or Company, its subsidiaries, affiliates, or customer or client of the Company, without obtaining the prior written consent of Company, its subsidiaries, affiliates, or customer or client of the Company.</p>

					<p class="standard-p">9.&nbsp;<strong>Governing Law</strong></p>

					<p class="standard-p">This Agreement shall be governed by and construed in accordance with the laws of the State of New York, without regard to the choice of law principles thereof.</p>

					<p class="standard-p">10.&nbsp;<strong>Amendment: Assignment</strong></p>

					<p class="standard-p">This Agreement may be amended only in writing executed by the party to be charged. The rights and duties of a party hereunder shall not be assignable by that party, except that the Company may assign this Agreement and all rights and obligations hereunder to any corporation or any other business entity which succeeds to all or substantially all the business of the Company through merger, consolidation or corporate reorganization or by acquisition of all or substantially all of the assets of the Company.</p>

					<p class="standard-p">11.&nbsp;<strong>Arbitration</strong></p>

					<p class="standard-p">Except as otherwise set forth herein, all disputes, controversies, claims or differences, whether arising or commenced during or subsequent to the term hereof, which may arise among the parties out of or in relation to or in connection with this Agreement which cannot be settled among the parties pursuant to the terms of this Agreement shall be settled by final and binding arbitration in New York City, before an arbitrator under the rules of the American Arbitration Association then in effect. Any arbitral award shall be enforceable in any court, wherever located, having jurisdiction over the party against whom the award was rendered.</p>



					<p class="standard-p"><strong>Company Information:</strong><br>

					ENG - Expert Network Group, LLC<br>

					21 West 46th Street<br>

					New York, NY 10036<br>

					<a href="mailto:eng@eng-llc.com" target="_blank">eng@eng-llc.com</a></p>



					<p class="standard-p">The legal representatives of ENG&nbsp;|||&nbsp;Expert Network Group, LLC.</p>


				</div>
			</div>
		</section>
