---
title: Hedge Funds
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Hedge Funds<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">

					<h2 class="full-width section__heading no-margin">Our investable universe is large and the sectors you cover are constantly evolving.</h2>
					<p class="text-center standard-p">ENG experts provide perspectives into the supply chain so that you can construct your own mosaic of understanding.  The types of funds that ENG works with include:</p>
					<hr class="margin-top-20">

					<div class="full-width margin-top-20 text-center">
						<div class="full-width">
							<div class="col span_6">
								<h4 class="section-secondary-subheading flat-bottom">Long/Short</h4>
								<p class="standard-p">Facilitate the fundamental research process, tapping expertise across the supply chain to help identify key growth drivers and locate anomalies.</p>
							</div>
							<div class="col span_6">
								<h4 class="section-secondary-subheading flat-bottom">Long Only</h4>
								<p class="standard-p">Provide ongoing due diligence for longer term investment horizon as well as idea generation.</p>
							</div>
							<div class="full-width">
								<h4 class="section-secondary-subheading flat-bottom">Credit/Distressed</h4>
								<p class="standard-p">Assist distressed investors who must differentiate between declining industries and latent investment opportunities.  Experts contribute industry-specific data points to help evaluate assets and determine liabilities that could  impede recovery.</p>
								<br>
								<h4 class="section-secondary-subheading flat-bottom">Macro</h4>
								<p class="standard-p">Connect you with former government and agency officials, policy experts, economists, and attorneys who provide insight into the macro environment and regulatory decision-making process so you can better assess risk. </p>
								<br>
								<h4 class="section-secondary-subheading flat-bottom">Special Situations</h4>
								<p class="standard-p">Support alternative investment strategies including activist and arbitrage through project-specific due diligence and extended engagements. We specialize in locating the exact expert match as per your search criteria and arrange custom engagements ranging from short-term consulting, to long-term advisory roles and board placements.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
