---
title: Home
heading: ENG LLC
---

<!-- Hero -->
<div class="hero">
  <div class="row align-middle align-center">
    <div class="columns xsmall-12">
      <div class="row expanded hide-for-large">
        <div class="columns text-center">
          <h1 class="hero__heading">Empowering <br />Connections<span class="fc-orange">.</span></h1>
          <h4 class="fc-orange avenir-bold">ENG Empowers Connections</h4>
          <p class="avenir-regular">
            Utilizing AI and human vetting to ensure the best possible match.
          </p>
          <span class="jumpnav"><a href="#overview" class="round-white">Get Started</a></span>
        </div>
      </div>
      <div class="row hero__headlines expanded show-for-large align-middle">
        <div class="columns text-center">
          <h2 class="hero__heading">Expert Network<span class="fc-orange">.</span></h2>
          <h4 class="hero__subheading">Targeted. Relevant. Timely. <br /> &nbsp;</h4>
          <span class="jumpnav"><a href="#overview" class="round-white">Learn More</a></span>
        </div>
        <div class="columns shrink text-center">
          <img src="/assets/img/eng-bars.svg" width="60" />
        </div>
        <div class="columns text-center">
          <h2 class="hero__heading">Talent Delivered<span class="fc-orange">.</span></h2>
          <h4 class="hero__subheading">Drive your company's competitiveness <br class="show-for-medium" /> with the right hire.</h4>
          <a href="eng-recruiting.html" class="round-white">Get Started</a>
        </div>
      </div>
      <div class="row expanded show-for-medium align-center">
        <div class="columns text-center shrink">
          <div class="hero__tagline">
            <img src="/assets/img/eng-air-knockout.svg" width="100"/> <span class="strong">Empowers Connections.</span> &nbsp;Utilizing AI and human vetting to ensure the best possible match.
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="jumpnav">
  <a href="#overview" class="hero__scroll-down">
    <img src="/assets/img/downarrow-inv.svg" width="27" />
  </a>
  </span>
</div>

<!-- We Locate -->
<div class="row" id="overview">
  <div class="inner-container overview-inner">
    <h2 class="section__heading text-center">
      We locate experts in every market.
    </h2>
    <h2 class="section__subheading text-center">Need a line here</h2>
    <ul class="market-graph">
      <li>
        <a href="#consumer-modal" class="fancybox" rel="market-modals">
          <span class="market-icons person"></span>
          <span class="market-graph-title">Consumer</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#energy-modal" class="fancybox" rel="market-modals">
          <span class="market-icons bolt"></span>
          <span class="market-graph-title">Energy</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#financials-modal" class="fancybox" rel="market-modals">
          <span class="market-icons graph"></span>
          <span class="market-graph-title">Financials</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#tech-med-tele-modal" class="fancybox" rel="market-modals">
          <span class="market-icons radio"></span>
          <span class="market-graph-title">Tech, Media, Telecom</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#industrials-modal" class="fancybox" rel="market-modals">
          <span class="market-icons hammer"></span>
          <span class="market-graph-title">Industrials</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#hc-modal" class="fancybox" rel="market-modals">
          <span class="market-icons heart"></span>
          <span class="market-graph-title">Healthcare</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
      <li>
        <a href="#policy-modal" class="fancybox" rel="market-modals">
          <span class="market-icons bank"></span>
          <span class="market-graph-title">Public Policy</span>
          <span class="market-graph-plus">+</span>
        </a>
      </li>
    </ul>
    <div class="full-width push--40">
      <h2 class="section__heading text-center">
        Engage ENG Experts
      </h2>
    </div>
    <ul class="facilities-graph push--40">
      <li>
        <a href="#">phone calls <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>Speak with experts in the value chain to verify your understanding of current market dynamics.</p>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">meetings <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>Have face-to-face meetings in your office, at ENG Offices, or at a mutually convenient location.  ENG arranges all logistics.</p>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">strategic projects <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>Tell us your exact requirements - we will accomodate you.  Our experts are available for Short/Long-term Projects, Executive Placements, Board Roles.</p>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Custom Surveys <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>Have us present questionnaires to a targeted population.</p>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Field Visits <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>Experience it firsthand.  Have our experts walk you through a factory, distribution center, or production facility.  Evaluate operations under the guidance of an experienced eye.</p>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Panelist Events <span class="icon"><i class="fa fa-plus"></i></span></a>
        <ul>
          <li>
            <p>We will arrange expert panels based on your specific requirements.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- Eng Difference -->
<div class="row expanded" id="eng-difference">
  <div class="full-width z-high">
    <div class="mid-section--full">
      <div class="mid-section--center">
        <div class="vertical-center">
          <h2 class="section-hero--heading avenir-bold">The ENG Difference</h2>
        </div>
      </div>
    </div>
    <img class="float-left" src="/assets/img/eng-hero-short.jpg" width="100%" height="auto">
  </div>
</div>

<!-- Not Database Driven -->
<div class="section section--white section--flush">
  <div class="row">
    <div class="columns text-center">
      <h2 class="section__heading">Not Databse Driven.</h2>
      <h2 class="section__subheading">We're a Custom Research Team</h2>
    </div>
  </div>
  <div class="row xsmall-up-1 medium-up-3">
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Full Service</h4>
        <p class="block__text">
          Think of us as an extension of your team. We shift with you every step of the way as you refine your understanding of the topics of interest.
        </p>
      </div>
    </div>
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Global Reach</h4>
        <p class="block__text">
          North America, EMEA, Asia, Latin America, Australia.
        </p>
      </div>
    </div>
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">10-Step Recruitment Process</h4>
        <p class="block__text">
          Ensures expert matches and compliance for every Custom Research Request (CRR).
        </p>
      </div>
    </div>
  </div>
  <div class="row align-middle xsmall-up-1 medium-up-3">
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Governance, Risk & Compliance</h4>
        <p class="block__text">
          Our 10-step research process allows ’40 Act funds to be in full compliance with SEC, FINRA, SIPC regulations while conducting primary research.
        </p>
      </div>
    </div>
    <div class="columns text-center show-for-medium">
      <img src="/assets/img/eng-ai-logo.svg" width="70%" height="auto" />
    </div>
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Speed & Relevancy</h4>
        <p class="block__text">
          We move at the pace of your business, never wasting your time with an improper match.
        </p>
      </div>
    </div>
  </div>
  <div class="row align-middle xsmall-up-1 medium-up-3">
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Technology Integration</h4>
        <p class="block__text">
          Our ERMS | Expert Relationship Management System allows you to efficiently monitor & manage all workflow.
        </p>
      </div>
    </div>
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">Trust & Discretion</h4>
        <p class="block__text">
          We treat all project-related details with the utmost confidentiality.
        </p>
      </div>
    </div>
    <div class="columns text-center">
      <div class="feature-block">
        <h4 class="block__heading">The Differentiated Provider</h4>
        <p class="block__text">
          Replacing incumbents and creating efficiencies by delivering the most relevant experts.
        </p>
      </div>
    </div>
  </div>

  {{>feature-select}}

</div>

<!-- Gain Access -->
<div class="row expanded">
  <div class="full-width eng-wall-art light">
    <div class="mid-section--full">
      <div class="mid-section--center">
        <div class="vertical-center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="full-width eng-wall-art dark">
    <div class="mid-section--full">
      <div class="mid-section--center">
        <div class="vertical-center">
          <h1 class="inner-hero--heading avenir-bold">Gain access to our experts today.&nbsp; <span class="jumpnav"><a class="round-orange" href="#contact">Get Started</a></span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width eng-wall-art light">
    <div class="mid-section--full">
      <div class="mid-section--center">
        <div class="vertical-center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Stories -->
<div class="row expanded" id="case-studies">
  <div class="full-width">
    <div class="inner-container">
      <h2 class="section__heading text-center">
        Success Stories
      </h2>
      <div id="casestudies" class="success-stories">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">hedge funds</h3>
                <a class="success-article fancybox" href="#hedge-fund-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0007_HedgeFund.jpg" width="100%" height="auto">
                  <h2 class="h2">3D Printing / Additive Manufacturing</h2>
                  <p>A long/short investor needed to understand current dynamics within the 3D / additive printing distribution channel.<br clear="all"> &nbsp;</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">corporations</h3>
                <a class="success-article fancybox" href="#corporation-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0008_Corporations.jpg" width="100%" height="auto">
                  <h2 class="h2">Global <br>Presence</h2>
                  <p>The engineering, procurement, and construction division of a multinational corporation was interested in expanding its global presence.</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">private equity</h3>
                <a class="success-article fancybox" href="#private-equity-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0006_Private Equity.jpg" width="100%" height="auto">
                  <h2 class="h2">Market <br>Insight</h2>
                  <p>A private equity firm was interested in acquiring an orphan brand laundry detergent manufacturer and needed to understand the market.</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
            </li>
            <li>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">venture capital</h3>
                <a class="success-article fancybox" href="#venture-capital-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0004_VentureCapital.jpg" width="100%" height="auto">
                  <h2 class="h2">Mobile <br>Technology</h2>
                  <p>A venture fund was interested in a mobile money transfer opportunity.<br clear="all"> &nbsp;</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">start ups</h3>
                <a class="success-article fancybox" href="#start-up-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0000_Startups.jpg" width="100%" height="auto">
                  <h2 class="h2">Pre-disease Management</h2>
                  <p>An entrepreneur iterating a platform for pre-disease management needed to understand the current landscape.</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">advertising agencies</h3>
                <a class="success-article fancybox" href="#airline-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0005_ProfessionalServices.jpg" width="100%" height="auto">
                  <h2 class="h2">C-Suite <br>Access</h2>
                  <p>An advertising agency was preparing a pitch for the C-suite of a major airline. <br><br></p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
            </li>
            <li>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">investment banks</h3>
                <a class="success-article fancybox" href="#investment-bank-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0003_InvestmentBanks.jpg" width="100%" height="auto">
                  <h2 class="h2">Market Dynamics</h2>
                  <p>An investment bank advising on the sale of an ethanol refining company needed to understand the dynamics of the biofuel market.</p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">life sciences</h3>
                <a class="success-article fancybox" href="#life-sciences-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0001_LifeSciences.jpg" width="100%" height="auto">
                  <h2 class="h2">Target Diagnostics</h2>
                  <p>A medical device manufacturer was developing a diagnostic platform but needed to refine target market. <br><br></p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
              <div class="col span_4">
                <h3 class="success-heading avenir-regular">law firms</h3>
                <a class="success-article fancybox" href="#law-firm-cs" rel="cs-overlay">
                  <img src="/assets/img/cs-images/9_0002_LawFirms.jpg" width="100%" height="auto">
                  <h2 class="h2">Legal Support</h2>
                  <p>A law firm in the early stages of a patent dispute needed to bolster its case. <br><br><br></p>
                  <span class="btn orange">Read Success Story</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="full-width success-stories-nav text-center">
          <a href="#" class="slide-previous">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="slide-next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Lets Work Together -->
<div class="section section--white">
  <div class="row">
    <div class="columns text-center">
      <div class="row align-middle align-center">
        <div class="columns">
          <h2 class="section__heading push--60">Let's Work Together</h2>
          <h2 class="section__subheading">It's as simple as...</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns xsmall-12 medium-8">
      <div class="row feature-block--benefits">
        <div class="columns xsmall-3 text-center">
          <h2 class="block__highlight avenir-bold">1</h2>
        </div>
        <div class="columns">
          <h2 class="section__heading">Define your project.</h2>
          <p class="block__text compact">Provide granular details related to your Custom Research Request | CRR.</p>
        </div>
      </div>
      <div class="row push--50">
        <div class="columns xsmall-3 text-center">
          <h2 class="block__highlight avenir-bold">2</h2>
        </div>
        <div class="columns">
          <h2 class="section__heading">Tap Into Our Global Reach.</h2>
          <p class="block__text compact">Our team of researchers will recruit only the most relevant experts for your project.</p>
        </div>
      </div>
      <div class="row push--50">
        <div class="columns xsmall-3 text-center">
          <h2 class="block__highlight avenir-bold">3</h2>
        </div>
        <div class="columns">
          <h2 class="section__heading">Engage ENG Experts.</h2>
          <p class="block__text compact">Schedule and connect utilizing our Expert Relationship Management System | ERMS.</p>
        </div>
      </div>
    </div>
  </div>
</div>
