---
title: Investment Banking
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Investment Banking<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">
					<p class="text-left standard-p lead">
						ENG assists in research by providing industry experts who can provide on-the-ground perspectives. We work with and support the following types of firms:
					</p>
					<hr class="margin-top-20">

					<div class="full-width margin-top-20">
						<div class="col span_12">
							<p class="standard-p medium text-center">
								<i class="fi fi-plus orange-highlight normal"></i> Investment Banking<br><br>
								<i class="fi fi-plus orange-highlight normal"></i> Investment Management<br><br>
								<i class="fi fi-plus orange-highlight normal"></i> Investment Research<br><br>
								<i class="fi fi-plus orange-highlight normal"></i> High Yield & Distressed Debt Trading/Research<br><br>
								<i class="fi fi-plus orange-highlight normal"></i> Mergers & Acquisitions Finance<br><br>
							</p>
						</div>
					</div>

				</div>
			</div>
		</section>
