---
title: Law
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Law<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">

					<h2 class="full-width section__heading no-margin">You need to tap specialized expertise to assist in the legal process.</h2>
					<p class="text-center standard-p">ENG will present you with technical experts from all industries so that you can make informed strategy and damage theories.</p>
					<hr class="margin-top-20">

					<div class="full-width margin-top-20 text-center">
						<div class="full-width">
							<h4 class="section-secondary-subheading">ENG experts have been vetted for credibility and potential biases and/or conflicts of interests.</h4>
						</div>
					</div>

				</div>
			</div>
		</section>
