---
title: Privacy Policy
heading: ENG LLC
---

<!-- Hero -->
<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Privacy Policy<span class="fc-orange">.</span></h2>
					<h4 class="hero__subheading">Keeping your information secure. <br /> &nbsp;</h4>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">
					<p class="standard-p">Thank you for visiting the website of Expert Network Group, LLC (&quot;ENG&quot;, &quot;ENG ||| LLC&quot;, &quot;we&quot; or &quot;us&quot;). An important part of our commitment to you is our respect for your privacy as a user of this website (the &quot;Site&quot;). This Privacy Policy seeks to help you understand whether and how we collect information about you when you visit the Site, and how we use such information. Your visit to the Site is subject to this Privacy Policy. By visiting the Site, you agree to this Privacy Policy, which may be updated by us at any time. You should review this Privacy Policy carefully. If you do not agree with it, you may not use the Site.</p>



					<p class="standard-p">This Privacy Policy concerns only the Site and does not concern any website to which the Site may link. Should you choose to visit these third-party sites, you should review their privacy policies to ensure that you understand and are comfortable with their practices concerning your personal information. Similarly, this Privacy Policy does not concern your interaction with ENG in any matter other than your use of the Site. Finally, this Privacy Policy does not address our privacy practices with respect to any nonpublic personal information we may collect from you.</p>



					<p class="standard-p">If you have any questions or comments about this Privacy Policy, you can email us at&nbsp;<a href="mailto:eng@eng-llc.com" target="_blank">eng@eng-llc.com</a>&nbsp;or write to us at Webmaster, Expert Network Group, LLC, 21 West 46th Street, 16th Floor. New York, NY, 10036.</p>



					<p class="standard-p"><strong>I. The Types of Information We Collect About You</strong></p>

					<p class="standard-p">When you enter and browse the Site, we may collect two different types of information about you: information you provide to us, and information we collect through technology.</p>



					<p class="standard-p"><strong>A. Information You Provide to Us</strong></p>

					<p class="standard-p">In order to obtain access to certain information or materials provided via the Site, you may have to provide information that we collect and store in a way that allows us to relate it to you personally, including but not limited to your name, e-mail address, mailing address, phone number, facsimile number. We refer to such information as personally identifiable information.</p>



					<p class="standard-p"><strong>B. Information We Collect Through Technology</strong></p>

					<p class="standard-p">We may collect information about you through technology. For example, we may collect your IP address each time you request a page during a visit to the Site. (An IP address is often associated with the portal through which you enter the Internet.) At times, we may also use IP addresses to collect information regarding the frequency with which users browse various parts of the Site. The Site may also use cookies. (Cookies are pieces of information that a website sends to your computer while you are viewing the website.) For instance, when you return to the Site after logging in, cookies provide information to the Site so that the Site will remember who you are. Using the settings of your internet browser, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. Consult your browser Help menu to learn the correct way to modify your cookies. If you choose to turn off cookies, you may not have access to many features that makes your browsing of our Site smoother, and some of our services may not function properly. You may at any time delete any cookies set by using the relevant option of your internet browser or by deleting the cookies on your hard drive.</p>



					<p class="standard-p">The Site may also use other technical methods to track and analyze the traffic patterns on the Site, such as the frequency with which our users visit various parts of the Site. These technical methods may involve the transmission of information either directly to us or to another party authorized by us to collect information on our behalf. We may also use these technical methods in HTML e-mails that we send our Site users to determine whether such users have opened those e-mails and/or clicked on links in those e-mails. We may collect the information from use of these technical methods in a form that is personally identifiable.</p>



					<p class="standard-p">During some visits we may use software tools such as JavaScript to measure and collect session information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouseovers), and methods used to browse away from the page. We may use this information to measure site activity, to develop ideas for improving our websites and for any other purpose to the extent permitted by applicable law.</p>



					<p class="standard-p"><strong>II. How Personally Identifiable Information We Collect About You is Used</strong></p>

					<p class="standard-p">We may use your personally identifiable information in several ways.</p>



					<p class="standard-p">Although, we do not sell your personal information to third parties, we may use or share certain personally identifiable information we collect about you when you visit and browse the Site as part of our normal business operations, or to send you administrative communications either about your interactions with us or about features of the Site, including any future changes to this Privacy Policy, to the extent permitted by law.</p>



					<p class="standard-p">We may also store your personally identifiable information and use it for marketing, research and other business purposes, and we may associate your personally identifiable information with other information we collect about you, such as details about your usage patterns and interests, in each case to the extent permitted by law.</p>



					<p class="standard-p">We will disclose personal information when we believe that such disclosures are required by law, regulation, legal process or governmental request. We may also do so to help enforce our Terms of Use, protect your safety or security, including the safety and security of property that belongs to you, or protect the safety and security of our websites, databases or third parties, including the safety and security of tangible or intangible property that belongs to us or to third parties. Also, in the event that ENG, or substantially all of its assets, are acquired, user information may be one of the transferred assets. ENG, however, reserves the right to use any personal information in any manner permitted by law.</p>



					<p class="standard-p"><strong>III. How Non-Personally Identifiable Information We Collect About You is Used</strong></p>

					<p class="standard-p">Non-personally identifiable information is information that does not personally identify you, including anonymous information and aggregate data. We may use this information to understand better how our visitors use the Site, research our visitors&#39; demographics, interest, and behavior, improve the Site, provide visitors with customized services and information, and for other similar purposes. We may combine this information with personally identifiable information. We may share this information with others for information or promotional purposes to the extent permitted by law. ENG, however, reserves the right to use this information in any manner permitted by law.</p>



					<p class="standard-p"><strong>IV. Protection of Information; No Guarantee of Security</strong></p>

					<p class="standard-p">We endeavor to protect your personal information. We use both technical and procedural methods to maintain the integrity and security of our databases, including firewalls and encryption. Please be aware though that no security measures are perfect or impenetrable. We will not be responsible or liable for any damages, losses or causes of action arising out of or in connection with the disclosure of your personally identifiable information.</p>



					<p class="standard-p"><strong>V. Amendments to this Privacy Policy</strong></p>

					<p class="standard-p">We may revise this Privacy Policy from time to time. If we make any substantial change to our Privacy Policy, we will post a prominent announcement on the Site and will post the updated Privacy Policy here. Any such changes will be effective upon posting.</p>



					<p class="standard-p"><strong>VI. International Use, Governing Law and Forum</strong></p>

					<p class="standard-p">ENG makes no claims that materials on the Site are appropriate or may be downloaded for use in locations outside the United States. Access to the Site from countries or territories where such access is illegal is prohibited. Those who choose to access the Site outside the United States do so on their own initiative and are responsible for compliance with local laws.</p>



					<p class="standard-p">This Privacy Policy is governed by New York law. Any dispute regarding this Privacy Policy or your use of the Site shall be resolved solely in the state or federal courts located in New York County, New York.</p>



				</div>
			</div>
		</section>
