---
title: Terms and Conditions
heading: ENG LLC
---

		<!-- Hero -->
		<div class="hero hero--short">
			<div class="row align-middle align-center">
				<div class="columns xsmall-12">
					<div class="row hero__headlines expanded align-middle">
						<div class="columns text-right">
							<h2 class="hero__heading">Terms and Conditions<span class="fc-orange">.</span></h2>
							<h4 class="hero__subheading">The legal stuff. <br /> &nbsp;</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">
					<p class="standard-p">Thank you for visiting the website of Expert Network Group, LLC (&quot;ENG&quot;, &quot;ENG ||| LLC&quot;, &quot;we&quot; or &quot;us&quot;). By accessing this website (the &quot;Site&quot;), you agree to accept the following Terms of Use pertaining to the use of the Site, which constitute a legal agreement between you and ENG, as well as our Privacy Policy. If you do not accept these Terms of Use, you may not use the Site. ENG reserves the right to modify these Terms of Use without notice, and each use of the Site constitutes your acceptance to be bound by the terms set forth in the Terms of Use as modified at the time of such use.</p>



					<p class="standard-p"><strong>I. Permitted Uses of Our Site and Content</strong></p>

					<p class="standard-p">All content, including but not limited to trademarks, service marks, trade names, trade dress, logos, copyrights and other intellectual property, displayed on the Site (&quot;Content&quot;) are owned by, controlled by or licensed to ENG or their respective owners. We have listed below the permitted uses of our Content. We reserve the right to change our permitted uses at any time.</p>



					<p class="standard-p">ENG grants you a limited, revocable, nonexclusive and nontransferable right to view, store, bookmark, download, copy and print pages from the Site for your personal and noncommercial use only. Unless you receive our permission in advance, you may not exploit any of the Content commercially, forward it as a mass distribution, or post it on another site.</p>



					<p class="standard-p">If you link other websites to this Site, you may not imply or suggest that ENG has endorsed or is affiliated with such websites and you may not display this Site as &quot;framed&quot; within another website.</p>



					<p class="standard-p"><strong>II. Prohibited Uses of Our Site and Content</strong></p>

					<p class="standard-p">ENG does not grant, by implication, estoppel or otherwise, any license or right to use material on this Site other than those set forth above, and you shall not make any other use of such material without ENG&#39;s written permission. Without limiting the generality of the foregoing:</p>



					<p class="standard-p">You agree not to copy large portions of the Site (such as by bots, robots or spiders that &quot;harvest&quot; the Site), interfere with the functioning of the Site or restrict or inhibit any others from using the Site.</p>



					<p class="standard-p">If you download any information or materials from the Site, you agree that you will not remove or obscure any copyright or other notices or legends contained in any such information or materials. You may not alter or modify the Content in your copies.</p>



					<p class="standard-p">You may not (and may not encourage others to) violate any law, regulation, rule or the intellectual property or contractual rights of others, or attempt to violate the security of this Site or use or gain access to the identities, information or computers of others through this Site.</p>



					<p class="standard-p">You may not transmit any virus, worm, time bomb or similar system interference or corruptant through this Site.</p>



					<p class="standard-p">ENG has the right (but not the obligation) to monitor this Site for any unauthorized or objectionable conduct and to take all appropriate actions in response, without notice to you. We reserve the right to change or supplement our policies as to prohibited uses at any time to the fullest extent permitted by applicable law.</p>



					<p class="standard-p"><strong>III. No Offers or Advice/Forward-Looking Statements/Historical Information</strong></p>

					<p class="standard-p">Under no circumstances should any information or materials presented on the Site be used or construed as an offer to sell, or a solicitation of an offer to buy, any securities, financial instruments, investments or other services. Furthermore, no information or materials contained in the Site should be construed or relied upon as investment, legal, accounting, tax or other professional advice or in connection with any offer or sale of securities. ENG will not treat users of the Site as its partners, clients, customers or investors by virtue of their accessing the Site.</p>



					<p class="standard-p">The Site contains forward-looking statements, which reflect our current views with respect to, among other things, the operations and performance of our businesses. You can identify these forward-looking statements by the use of words such as &quot;outlook,&quot; &quot;believe,&quot; &quot;expect,&quot; &quot;potential,&quot; &quot;continue,&quot; &quot;may,&quot; &quot;should,&quot; &quot;seek,&quot; &quot;approximately,&quot; &quot;predict,&quot; &quot;intend,&quot; &quot;will,&quot; &quot;plan,&quot; &quot;estimate,&quot; &quot;anticipate&quot; or the negative version of these words or other comparable words. Forward-looking statements are subject to various risks and uncertainties. Accordingly, there are or will be important factors that could cause actual outcomes or results to differ materially from those indicated in these statements. We undertake no obligation to publicly update or review any forward-looking statement, whether as a result of new information, future developments or otherwise.</p>



					<p class="standard-p">Any transactions described on the Site as having been engaged in by ENG are included as representative transactions and are not necessarily reflective of overall results of any of ENG businesses. Past performance is not indicative of future results; no representation is being made that any investment or transaction will or is likely to achieve profits or losses similar to those achieved in the past, or that significant losses will be avoided.</p>



					<p class="standard-p"><strong>IV. International Use</strong></p>

					<p class="standard-p">The information or materials provided in or accessible through the Site are, unless otherwise specified, directed at residents of the United States, and are not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject ENG to any registration or other requirement within such jurisdiction or country. ENG reserves the right to limit access to the Site to any person, geographic region or jurisdiction. Unless otherwise expressly set forth herein, ENG makes no representations that transactions, products or services discussed on or accessible through the Site are available or appropriate for sale or use in all jurisdictions or by all users, or that access by any user in the place it is located is not illegal or prohibited. Users who choose to access the Site from other locations do so on their own initiative and are responsible for establishing the legality, usability and correctness of any information or materials on the Site under the laws of any applicable jurisdictions. You may not use or export the information or materials on the Site or accessible through the Site in violation of U.S. laws and regulations.</p>



					<p class="standard-p"><strong>V. Linked Sites</strong></p>

					<p class="standard-p">ENG does not review or monitor any websites linked from or to the Site and is not responsible for the content of any such websites. Accordingly, ENG cannot be held responsible for the information, materials, products or services obtained on or from such other websites, nor will we be liable in any respect whatsoever for any damages arising from your access to such websites. Any links from or to other websites are provided merely for the convenience of the users of the Site and the inclusion of these links does not imply an endorsement, representation or warranty by ENG with respect to any such linked websites or the content, products or services contained or accessible through such websites or their operators. ENG DISCLAIMS RESPONSIBILITY FOR THE PRIVACY POLICIES AND CUSTOMER INFORMATION PRACTICES OF THIRD-PARTY INTERNET WEBSITES HYPERLINKED FROM THE SITE. Your following links from or to such websites is at your sole risk.</p>



					<p class="standard-p"><strong>VI. Password and Security Notification</strong></p>

					<p class="standard-p">Certain areas of the Site are password protected and are only accessible to those who have a valid ENG-issued password. You may not attempt to access any password protected areas of the Site without authorization. In the event that you have been issued such a password, you acknowledge and agree that ENG has granted you limited access to specific files pertaining to matters relevant to you, and you agree not to attempt to access other computer files. Accordingly, you should take steps to protect the confidentiality of your password. You should notify ENG immediately if you become aware of any disclosure, loss, theft or unauthorized use of your password.</p>



					<p class="standard-p"><strong>VII. Limitation of Liability</strong></p>

					<p class="standard-p">IN NO EVENT SHALL ENG OR ITS RELATED PERSONS BE LIABLE TO ANY PARTY FOR ANY CLAIMS, LIABILITIES, LOSSES, COSTS OR DAMAGES, INCLUDING BUT NOT LIMITED TO ANY DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH ANY ACCESS, USE (OR INABILITY TO USE) OR DISTRIBUTION OF THE SITE OR ANY INFORMATION OR MATERIALS OBTAINED THROUGH USE OF THE SITE. THIS IS TRUE EVEN IF ENG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES.</p>



					<p class="standard-p"><strong>VIII. Disclaimer and Indemnity</strong></p>

					<p class="standard-p">ENG and its officers, directors, managers, partners, members, employees, affiliates and agents (collectively &quot;Related Persons&quot;) make no representations or warranties of any kind, express or implied, as to the accuracy, reliability, completeness, availability or other characteristics of the information or materials presented on the Site. Such information or materials are provided &quot;as is&quot; and &quot;as available&quot;.</p>



					<p class="standard-p">To the fullest extent permissible pursuant to applicable law, ENG specifically disclaims any and all warranties of any kind, express or implied, including but not limited to all warranties of and conditions of merchantability, fitness for a particular purpose, title, non-infringement, availability, accuracy or completeness.</p>



					<p class="standard-p">ENG does not warrant that the information in this Site is accurate, reliable or correct, that this Site will be available at any particular time or location, or that this Site is free of viruses or other harmful components. Electronic communications can be intercepted by third parties and, accordingly, electronic mail and other transmissions to and from the Site or made via the Site may not be secure.</p>



					<p class="standard-p">Decisions based on information or materials contained on the Site are the sole responsibility of the user.</p>



					<p class="standard-p">As consideration for access to the Site, you agree to indemnify and hold harmless ENG and its Related Persons from and against any claims whatsoever and of any nature for damages, losses and causes of action, including but not limited to actions by third parties against you, ENG or any of its Related Person, arising out of or in connection with any decisions that you make based on such information or materials, your use of the Site, or your violation of our website policies.</p>



					<p class="standard-p"><strong>IX. Governing Law and Forum</strong></p>

					<p class="standard-p">The laws of the State of New York govern these Terms of Use. You agree that any legal action relating to these Terms of Use may take place only in the New York State Supreme Court located in New York County, New York, or the United States District Court for the Southern District of New York located in New York County, New York, and you consent and submit to the personal jurisdiction of those courts for the purpose of litigating any action with ENG.</p>



					<p class="standard-p">You agree that any cause of action you may have with respect to your use of the Site must be commenced within one year after the claim or cause of action arises or will be deemed to have been waived.</p>



					<p class="standard-p"><strong>X. Integration and Severability; Waiver</strong></p>

					<p class="standard-p">This Agreement represents the entire agreement between ENG and the user relating to the subject matter herein. If, for any reason, a court of competent jurisdiction finds any provision in this Agreement to be unenforceable, that provision shall be enforced to the maximum extent permissible so as to affect the intent of this Agreement, and the remainder shall continue in full force and effect.</p>



					<p class="standard-p">No waiver by ENG of any right under or term or provision of this Agreement will be deemed a waiver of any other right, term, or provision of this Agreement at that time or a waiver of that or any other right, term, or provision of this Agreement at any other time.</p>



					<p class="standard-p"><strong>Company Information:</strong><br>

					ENG ||| Expert Network Group, LLC<br>

					21 West 46th Street, 16th Floor<br>

					New York, NY 10036<br>

					Contact:&nbsp;<a href="mailto:eng@eng-llc.com" target="_blank">eng@eng-llc.com</a></p>



					<p class="standard-p">The legal representatives of ENG&nbsp;|||&nbsp;Expert Network Group, LLC.</p>

				</div>
			</div>
		</section>
