---
title: Venture Capital
heading: ENG LLC
---

<div class="hero hero--short">
	<div class="row align-middle align-center">
		<div class="columns xsmall-12">
			<div class="row hero__headlines expanded align-middle">
				<div class="columns text-right">
					<h2 class="hero__heading">Venture Capital<span class="fc-orange">.</span></h2>
				</div>
			</div>
		</div>
	</div>
</div>

		<section class="row">
			<div class="inner-container">
				<div class="content-wrapper">

					<h2 class="full-width section__heading no-margin">ENG helps venture investors discover and create new business models.</h2>
					<p class="text-center standard-p">Projects range from: exploring use-cases, estimating market size, understanding new technology, to competitive assessment.  Investors rely on ENG to expand their network into new areas.</p>
					<hr class="margin-top-20">

					<div class="full-width margin-top-20 text-center">
						<div class="full-width">
							<h4 class="section-secondary-subheading flat-bottom">In-House Venture Capital</h4>
							<p class="standard-p">ENG similarly supports the growing corporate venture capital trend.  Our services help venture managers create an ecosystem that is conducive toward investments that provide both strategic returns and financial returns.</p>
						</div>
					</div>

				</div>
			</div>
		</section>
