.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #432A5F url(/assets/img/eng-hero-bg.jpg) center center no-repeat;
  background-size: cover;
  > .row{
    height: 100%;
  }
  color: white;
  &--short{
    height: 400px;
    .hero__headlines{
      margin-top: 3rem;
    }
  }
}

.hero__heading{
  @extend .avenir-bold;
  letter-spacing: -.5px;
}

.hero__cta{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
  margin-bottom: 2rem;
  display: inline-block;
  @extend .avenir-regular;
  &:hover{
    color: white;
  }
}

.hero__headlines{
  margin-top: 6rem;
}

.hero__subheading{
  @extend .avenir-medium;
  letter-spacing: -1px;
}

.hero__tagline{
  transform: translateY(120px);
  display: inline-block;
  background: rgba(#4A1E4C, .5);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .avenir-medium;
  img{
    padding-right: 10px;
  }
}

.hero__scroll-down{
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100px;
  height: 50px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  &:hover{
    img{
      top: 1.7rem;
    }
    &::before{
      background: rgba(white, .3);
      transition-duration: .5s;
      transition-property: all;
      transition-timing-function: ease-out;
      transition-delay: .1s;
    }
  }
  img{
    position: absolute;
    top:1.4rem;
    left:0;
    right:0;
    margin: auto;
    z-index: 99;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: .1s;
  }
  &::before{
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 100%;
    left:0;
    top:0;
    content:'';
    z-index: 0;
  }
}
