.section{
  background: white;
  padding: 6rem 0;
  &--flush{
    padding-bottom: 0px;
  }
  &--white{
    background: white;
  }
  >.row + .row{
    margin-top: 2rem;
  }
  @include breakpoint(medium up){
    >.row + .row{
      margin-top: 10rem;
    }
  }
}

.section--white{
  & + &{
    border-top: 1px solid lighten(#bbb,20%);
  }
}

.section__heading{
  @extend .avenir-bold;
  letter-spacing: -1px;
  color: #3f174d;
}

.section__subheading{
  @extend .avenir-regular;
  color: #8d3eb0;
  letter-spacing: -1px;
}
