<div class="row expanded align-middle feature-block--industry">
  <div class="columns">
    <div class="row align-right">
      <div class="columns large-6">
        <h2 class="section__heading">Select Your Industry</h2>
        <h3 class="section__subheading">Gain Access to our experts today.</h3>
        <ul class="purple-dropdown">
          <li class="text-right">
            Select an Industry <img src="/assets/img/downarrow.svg" width="25" />
            <ul>
              <li><a href="#">Industry</a></li>
              <li><a href="#">Industry</a></li>
              <li><a href="#">Industry</a></li>
              <li><a href="#">Industry</a></li>
              <li><a href="#">Industry</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
