<div class="row expanded align-middle feature-block--industry wp-hide">
  <div class="columns">
    <div class="row align-right">
      <div class="columns large-6">
        <h2 class="section__heading">Select Your Industry</h2>
        <h3 class="section__subheading">Gain Access to our experts today.</h3>
        <ul class="purple-dropdown">
          <li>
            Select an Industry &nbsp; &nbsp;<img src="/assets/img/downarrow-inv.svg" width="25" />
            <ul>
              <li><a href="hedge-funds.html">Hedge Funds</a></li>
              <li><a href="corporations.html">Corporations</a></li>
              <li><a href="private-equity.html">Private Equity</a></li>
              <li><a href="venture-capital.html">Venture Captial</a></li>
              <li><a href="professional-service-firms.html">Professional Service Firms</a></li>
              <li><a href="investment-banking.html">Investment Banking</a></li>
              <li><a href="law.html">Law</a></li>
              <li><a href="life-sciences.html">Life Sciences</a></li>
              <li><a href="start-ups.html">Start Ups</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
