<footer class="main-footer">
  <div class="row expanded">
    <div class="columns text-left">
      <img alt="eng logo" title="eng logo" src="/assets/img/eng-new-logo.svg" width="90" height="auto" />
    </div>
    <div class="columns shrink">
      <ul class="nav__lang">
        <li>
          <a href="#"><img src="/assets/img/globe-icon.svg" width="23" /> EN</a>
          <ul>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row expanded">
    <div class="columns xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Headquarters</h5>
        </li>
        <li>
          <p>
            21 West 46th Street, <br />
            16th floor <br />
            New York, NY 10036 <br />
            +1.212.359.8280
          </p>
        </li>
      </ul>
    </div>
    <div class="columns xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Resources</h5>
        </li>
        <li>
          <a href="#">Experts</a>
        </li>
        <li>
          <a href="#">Client Login</a>
        </li>
        <li>
          <a href="#">Expert Login</a>
        </li>
        <li>
          <a href="#">Compliance</a>
        </li>
      </ul>
    </div>
    <div class="columns xsmall-12 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Careers</h5>
        </li>
        <li>
          <a href="#">Careers@eng-llc.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row expanded">
    <div class="columns xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading main-footer__col-heading--bright">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns push--small-40 xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns push--small-40 xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns push--small-40 xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns push--small-40 xsmall-6 medium-6 large-expand">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
  </div>
  <div class="row expanded main-footer__copy align-middle">
    <div class="columns text-left">
      <p>
        <small>&copy; Expert Network Group LLC 2018	</small>
      </p>
    </div>
    <div class="columns shrink text-right">
      <p>
        <a href="#"><small>Legal</small></a>
      </p>
    </div>
  </div>
</footer>
