<footer class="main-footer">
  <div class="row">
    <div class="columns text-left">
      <img alt="eng logo" title="eng logo" src="/assets/img/eng-new-logo.svg" width="90" height="auto" />
    </div>
    <div class="columns shrink">
      <ul class="nav__lang">
        <li>
          <a href="#"><img src="/assets/img/globe-icon.svg" width="23" /> EN</a>
          <ul>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row footer--push xsmall-up-1 small-up-2 medium-up-4">
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Headquarters</h5>
        </li>
        <li>
          <p>
            21 West 46th Street, <br />
            16th Floor <br />
            New York, NY 10036 <br />
            +1.212.359.8280
          </p>
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul class="jumpnav">
        <li>
          <h5 class="main-footer__col-heading">ENG</h5>
        </li>
        <li>
          <a href="/#overview">Overview</a>
        </li>
        <li>
          <a href="/#eng-difference">ENG Difference</a>
        </li>
        <li>
          <a href="/#case-studies">Case Studies</a>
        </li>
        <li>
          <a href="compliance.html">Compliance</a>
        </li>
        <li>
          <a href="#contact">Become and ENG Client</a>
        </li>
        <li>
          <a href="#contact">Become and ENG Expert</a>
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Resources</h5>
        </li>
        <li>
          <a href="https://clients.eng-llc.com/" target="_blank">Client Login</a>
        </li>
        <li>
          <a href="https://experts.eng-llc.com/" target="_blank">Expert Login</a>
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Careers</h5>
        </li>
        <li>
          <a href="mailto:careers@eng-llc.com">Careers@eng-llc.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row footer--push xsmall-up-1 medium-up-2 large-up-6">
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading main-footer__col-heading--bright">USA</h5>
        </li>
        <li>
          1.212.359.8280
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">India</h5>
        </li>
        <li>
          +91.20.6733.3701
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Brazil</h5>
        </li>
        <li>
          +55.11.3957.3898
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Taiwan</h5>
        </li>
        <li>
          +886.2.7703.2441
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">South Korea</h5>
        </li>
        <li>
          +82.26.433.9515
        </li>
      </ul>
    </div>
    <div class="columns">
      <ul>
        <li>
          <h5 class="main-footer__col-heading">Japan</h5>
        </li>
        <li>
          +81.3.6863.5297
        </li>
      </ul>
    </div>
  </div>
  <div class="row expanded main-footer__copy align-middle">
    <div class="columns">
      <div class="row">
        <div class="columns text-left">
          <p>
            <small>&copy; Expert Network Group LLC 2018	</small>
          </p>
        </div>
        <div class="columns shrink text-right">
          <p>
            <a href="terms.html"><small>Legal</small></a> | <a href="privacy.html"><small>Privacy</small></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
