<nav class="main-nav">
  <div class="row expanded align-middle">
    <div class="columns shrink main-nav__bar-container">
      <button class="main-nav__bars">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <div class="columns shrink">
      <ul class="nav__lang">
        <li>
          <a href="#"><img src="/assets/img/globe-icon.svg" width="23" /> EN</a>
          <ul>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="columns text-right">
      <img alt="eng logo" title="eng logo" src="/assets/img/eng-new-logo.svg" width="90" height="auto" />
    </div>
  </div>
</nav>

<div class="flyout__container">
  <nav class="flyout-nav">
    <button class="flyout-nav__x">
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <ul class="flyout-nav__main">
      <li class="isActive">
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">ENG Difference</a>
      </li>
      <li>
        <a href="#">Case Studies</a>
      </li>
      <li>
        <a href="#">Compliance</a>
      </li>
      <li>
        <a href="#">Become an ENG Client</a>
      </li>
      <li>
        <a href="#">Become an ENG Expert</a>
      </li>
      <li>
        <a href="#">FAQS</a>
      </li>
      <li>
        <ul>
          <li>
            <a href="#" class="semi-round-transparent">Client Login</a>
          </li>
          <li>
            <a href="#" class="semi-round-transparent">Expert Login</a>
          </li>
        </ul>
      </li>
      <li class="small">
        <a href="#">Privacy Policy</a>
      </li>
      <li class="small">
        <a href="#">Legal</a>
      </li>
    </ul>
  </nav>
</div>
