<nav class="main-nav">
  <div class="row expanded align-middle">
    <div class="columns shrink main-nav__bar-container">
      <button class="main-nav__bars">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <div class="columns shrink">
      <ul class="nav__lang">
        <li>
          <a href="#"><img src="/assets/img/globe-icon.svg" width="23" /> EN</a>
          <ul>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
            <li>
              <a href="#">ES</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="columns text-right">
      <a href="/"><img alt="eng logo" title="eng logo" src="/assets/img/eng-new-logo.svg" width="90" height="auto" /></a>
    </div>
  </div>
</nav>

<div class="flyout__container">
  <nav class="flyout-nav">
    <button class="flyout-nav__x">
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <ul class="flyout-nav__main">
      <li>
        <a href="/#overview">The ENG Difference</a>
      </li>
      <li>
        <a href="eng-recruiting.html">ENG Recruiting</a>
      </li>
      <li>
        <a href="compliance.html">Compliance</a>
      </li>
      <li class="nest">
        <a href="#case-studies">Our Clients <span class="arrow"></span></a>
        <ul>
						<li class=""><a href="hedge-funds.html">Hedge Funds</a></li>
						<li class=""><a href="corporations.html">Corporations</a></li>
						<li class=""><a href="private-equity.html">Private Equity</a></li>
						<li class=""><a href="venture-capital.html">Venture Capital</a></li>
						<li class=""><a href="professional-service-firms.html">Professional <br> Service Firms</a></li>
						<li class=""><a href="investment-banking.html">Investment <br>Banking</a></li>
						<li class=""><a href="law.html">Law</a></li>
						<li class=""><a href="life-sciences.html">Life Sciences</a></li>
						<li class=""><a href="start-ups.html">Start Ups</a></li>
					</ul>
      </li>
      <li>
        <a href="/#contact">Become an ENG Client</a>
      </li>
      <li>
        <a href="/#contact">Become an ENG Expert</a>
      </li>
      <li>
        <a href="/#contact">Contact Us</a>
      </li>
      <li>
        <a href="experts.html#faqs">FAQS</a>
      </li>
      <li>
        <ul>
          <li>
            <a href="https://clients.eng-llc.com/" target="_blank" class="semi-round-transparent">Client Login</a>
          </li>
          <li>
            <a href="https://experts.eng-llc.com/" target="_blank" class="semi-round-transparent">Expert Login</a>
          </li>
        </ul>
      </li>
      <li class="small">
        <a href="privacy.html">Privacy Policy</a>
      </li>
      <li class="small">
        <a href="terms.html">Legal</a>
      </li>
    </ul>
  </nav>
</div>
