<div class="cs-overlay-cont hidden">

	<div id="hedge-fund-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Hedge Fund Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				A long/short investor needed to understand current dynamics <br>within the 3D / additive printing distribution channel.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Technology Producers / OEM<br>
				<i class="fi fi-plus orange-highlight"></i> Regional Distributors <br>
				<i class="fi fi-plus orange-highlight"></i> Users from within Industrial Manufacturers
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to a learn how manufacturers recognize revenue when selling into the channel, as well as current demand trends from major market segments.
			</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="corporation-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Corporations Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				The engineering, procurement, and construction division of a multinational<br> corporation was interested in expanding its global presence.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Engagement Managers for Major EPC Service Providers<br>
				<i class="fi fi-plus orange-highlight"></i> Recruiting Managers <br>
				<i class="fi fi-plus orange-highlight"></i> Political & Regulatory Advisors
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				The client was able to benchmark current best practices in the areas of bidding process, identifying decision makers, setting pricing, ISO certifications.
			</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="private-equity-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Private Equity Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				A private equity firm was interested in acquiring an orphan brand<br> laundry detergent manufacturer and needed to understand the market.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Detergent Manufacturers to Elaborate on Brand Loyalty.<br>
				<i class="fi fi-plus orange-highlight"></i> Supermarkets and Non-Food Retailers
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to understand price rigidity and consumer loyalty trends in the market.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="venture-capital-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Venture Capital Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				A venture fund was interested in a mobile money transfer opportunity.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided experts with perspectives from: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Financial Institutions<br>
				<i class="fi fi-plus orange-highlight"></i> Telecom Operators<br>
				<i class="fi fi-plus orange-highlight"></i> Hardware Manufacturers<br>
				<i class="fi fi-plus orange-highlight"></i> State and Federal Regulators
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to understand the business, technological, and regulatory aspects of the market.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="start-up-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Start Up Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				An entrepreneur iterating a platform for pre-disease management needed to understand the current landscape.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided experts <br>from these areas: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Healthcare Providers<br>
				<i class="fi fi-plus orange-highlight"></i> Insurance Payers<br>
				<i class="fi fi-plus orange-highlight"></i> Epidemiologists / Clinicians<br>
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to refine his platform's capabilities to target certain use cases, as well as adapt his team's sales process to users' purchase & reimbursement processes.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="airline-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Advertising Agency Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				An advertising agency was preparing a pitch for the C-suite of a major airline.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Airline Technology Executives<br>
				<i class="fi fi-plus orange-highlight"></i> Airline Financial Executives<br>
				<i class="fi fi-plus orange-highlight"></i> Marketing Managers<br>
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to distinguish their pitch from the incumbent in the areas of digital marketing, customer engagement/loyalty, and B2C technology deployment throughout the customer experience.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="investment-bank-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Investment Bank Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				An investment bank advising on the sale of an ethanol refining company needed to understand the dynamics of the biofuel market.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Ethanol & Grain Suppliers<br>
				<i class="fi fi-plus orange-highlight"></i> Fuel Storage Executives<br>
				<i class="fi fi-plus orange-highlight"></i> Oil & Gas Executives<br>
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client was able to highlight the competitive strengths of the company and position it for sale to a strategic buyer.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="life-sciences-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Life Sciences Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				A medical device manufacturer was developing a diagnostic platform but needed to refine target market.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Laboratory Managers<br>
				<i class="fi fi-plus orange-highlight"></i> Hospital CIOs<br>
				<i class="fi fi-plus orange-highlight"></i> Big Data / EMR Experts<br>
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client broadened their product & service offering to include cloud-based analytics capabilities and launched product.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

	<div id="law-firm-cs" class="cs-overlay">
		<h2 class="cs-overlay-heading">Law Firm Case Study</h2>
		<div class="col span_12">
			<p class="full-width text-left">
				<strong>Background:</strong><br>
				A law firm in the early stages of a patent dispute needed to bolster its case.
			</p>
			<p class="col span_5 text-left">
				<strong>ENG provided access to <br>a number of experts for the<br> client to evaluate: </strong><br>
				<i class="fi fi-plus orange-highlight"></i> Credibility<br>
				<i class="fi fi-plus orange-highlight"></i> Conflicts/Bias<br>
				<i class="fi fi-plus orange-highlight"></i> Presentation Skills<br>
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="col span_6 text-left">
				<strong>Result: </strong><br>
				Client selected the expert that was most suitable to serve as a witness.
			</p>
			<p class="col span_1 text-left">&nbsp;</p>
			<p class="full-width text-center">
				<br>
				<a class="btn orange fb-close" href="#">become a client</a>
			</p>
		</div>
	</div>

</div>



<div class="market-modals-overlay-cont hidden">

	<!-- Modal -->

	<div id="consumer-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons person"></span>
						Consumer
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Commercial</h3>
							<p class="full-width text-center">
								Commercial<br>
								Commercial Goods<br>
								Commercial Services
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Education</h3>
							<p class="full-width text-center">
								Not For Profit<br>
								Products<br>
								Services
							</p>
						</div>
					</div>
					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Food & Beverage</h3>
							<p class="full-width text-center">
								Beer, Wine & Spirits<br>
								Bottling Companies<br>
								Convenience Stores<br>
								Drug Stores<br>
								Food, Beverage Distributors<br>
								Grocery Stores<br>
								Restaurants
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Personal & Home</h3>
							<p class="full-width text-center">
								Appliances<br>
								Cleaning Products<br>
								Furniture<br>
								Toy Products<br>
								Toy Stores
							</p>
						</div>
					</div>
					<div class="full-width">

						<div class="col span_6">
							<h3 class="full-width text-center">Travel & Leisure</h3>
							<p class="full-width text-center">
								Boating Dealers<br>
								Boating Manufacturers<br>
								Booking<br>
								Casinos<br>
								Cruise Lines<br>
								Hotels<br>
								Resports<br>
								Spas
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Retail</h3>
							<p class="full-width text-center">
								Apparel<br>
								Catalog<br>
								Appliances, Electronics<br>
								Cosmetics<br>
								Department Stores<br>
								Discount Stores<br>
								Dollar Stores<br>
								Jewelers<br>
								Luxury Goods<br>
								National Retail Chains<br>
								Online Retail<br>
								Specialty Stores
							</p>
						</div>
					</div>
					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Pets</h3>
							<p class="full-width text-center">
								Pet Products<br>
								Pet Services<br>
								Veterinary
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->

	<!-- Modal -->

	<div id="energy-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons bolt"></span>
						Energy
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Oil & Gas</h3>
							<p class="full-width text-center">
								Carbon Sequestration<br>
								Coal<br>
								Conv., Un. Hydrocarbons<br>
								Geological, Physical Interp.<br>
								Oilfield Services<br>
								Pipeline Operation<br>
								Refining, Hydrocracking<br>
								Reservoir, Completion Eng.
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Reg & Geopolitical</h3>
							<p class="full-width text-center">
								Energy & Env. Risk Mgmt.<br>
								Foreign Affairs Analysis<br>
								Lobbying<br>
								Political Science Analysis<br>
								Regulator Analysis
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Alt & Renewables</h3>
							<p class="full-width text-center">
								Ethanol & Biodiesel<br>
								Biomass<br>
								Electric-Powered Vehicles<br>
								Fuel Cells, Hydrogen<br>
								Geothermic<br>
								Hybrids<br>
								Hydro<br>
								Nuclear<br>
								Solar, Photovoltaics<br>
								Wave, Tidal<br>
								Wind
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Utilities</h3>
							<p class="full-width text-center">
								Electric Trans. Reg., Policy<br>
								Natural Gas Storage Operators<br>
								Power Generation<br>
								PUC<br>
								Transmission Asset Mgmt.<br>
								Utility FTC Issues<br>
								Utility Operators
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->

	<!-- Modal -->

	<div id="financials-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons graph"></span>
						Financials
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Business Services</h3>
							<p class="full-width text-center">
								Business Support Services<br>
								Consulting, Training<br>
								Employment, Staffing<br>
								Financial Administration<br>
								Fin., Pymt. Processing<br>
								Mgmt. Consulting
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Economist</h3>
							<p class="full-width text-center">
								Macro,
								Micro
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Financial Servicess</h3>
							<p class="full-width text-center">
								Asset Managers<br>
								ATM Industry<br>
								Banks<br>
								Consumer Finance<br>
								Education Lending<br>
								Employee Benefits<br>
								Equity, Inv. Instruments<br>
								Financial Exchanges<br>
								Insurance<br>
								Investment Mangers<br>
								Investment Services<br>
								Mortgage Finance<br>
								Reinsurance<br>
								Specialty Finance<br>
								Subprime Mortgage Industry
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Real Estate</h3>
							<p class="full-width text-center">
								Commercial<br>
								Homebuilding<br>
								RE Holdings, Investments<br>
								REITs<br>
								Res. RE Brokerage<br>
								Resort RE<br>
								Retail RE Values
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->

	<!-- Modal -->

	<div id="tech-med-tele-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons radio"></span>
						Tech, Media, Telecom
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Technology</h3>
							<p class="full-width text-center">
								Communications Equipment<br>
								Electronic Components<br>
								Software<br>
								Computer Hardware<br>
								IT Distribution<br>
								Consumer Electronics<br>
								IT Services<br>
								Data Storage<br>
								Semiconductors
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Media</h3>
							<p class="full-width text-center">
								Advertising<br>
								Music<br>
								Television<br>
								Film<br>
								Outdoor Advertising<br>
								Video Games<br>
								Internet, Electronic Media<br>
								Print Publishing<br>
								Marketing<br>
								Radio
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Telecom</h3>
							<p class="full-width text-center">
								Application Service Providers<br>
								Satellite<br>
								Cable<br>
								Towers<br>
								Converged Services<br>
								Wireless<br>
								Internet Service Providers<br>
								Wireline
							</p>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->

	<!-- Modal -->

	<div id="industrials-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons hammer"></span>
						Industrials
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Aerospace & Defense</h3>
							<p class="full-width text-center">
								Aerospace Components<br>
								Civilian Contractors<br>
								Defense Electronics<br>
								Defense Equipment<br>
								Homeland Security<br>
								Intelligence Technology<br>
								Military<br>
								Space, Sat. Weapon Systems
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Agriculture</h3>
							<p class="full-width text-center">
								Crop Production<br>
								Fertilizer<br>
								Livestock Production
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Autos</h3>
							<p class="full-width text-center">
								Auto Manufacturers<br>
								Auto Parts<br>
								Auto Services
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Building Materials</h3>
							<p class="full-width text-center">
								Asphalt<br>
								Cabinetry<br>
								Carpet<br>
								Cement Producers<br>
								Composities<br>
								Construction Stone<br>
								Door and Window<br>
								Flooring<br>
								Glass<br>
								Roofing
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Chemicals</h3>
							<p class="full-width text-center">
								Adhesives<br>
								Crop Protection<br>
								Enzymes<br>
								Fiber<br>
								Industrial Glass<br>
								Paints<br>
								Personal Care Chemicals<br>
								Petrochemicals<br>
								Plastics<br>
								Speciality Chemicals
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Container & Packaging</h3>
							<p class="full-width text-center">
								Drum Manufacturers<br>
								Glass Containers<br>
								Metal Containers<br>
								Packaging Equipment<br>
								paperboard Packing<br>
								Plastic Containers
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Eng. & Construction</h3>
							<p class="full-width text-center">
								Architecture<br>
								Building Construction<br>
								Construction Equipment<br>
								Equipment Dealers <br>
								Equipment Rentals
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Environmental</h3>
							<p class="full-width text-center">
								Boiler Manufacturers<br>
								Hazardous Waste<br>
								Solid Waste Contractors
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Forestry</h3>
							<p class="full-width text-center">
								Paper & Paper Products
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Industrial Equipment</h3>
							<p class="full-width text-center">
								Automation & Control<br>
								Electric Motor Manufacturers<br>
								Elevators and Escalators<br>
								Filtration Systems<br>
								HVAC<br>
								Industrial Equipment Distribution<br>
								Machine Tools Manufacturers
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Metals</h3>
							<p class="full-width text-center">
								Alloy Producers<br>
								Aluminum<br>
								Coke Producers<br>
								Lime Producers<br>
								Metal Foundries<br>
								Metal Smelters<br>
								Metal Tradings<br>
								Scrap Processors<br>
								Steel Finishing Mills<br>
								Steel Mills
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Textiles</h3>
							<p class="full-width text-center">
								Textiles
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Transport & Logistics</h3>
							<p class="full-width text-center">
								Airlines<br>
								Maritime<br>
								Railroad<br>
								Supply Chain Management<br>
								Trucking
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->

	<!-- Modal -->

	<div id="hc-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons heart"></span>
						Healthcare
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Biotech & Pharma</h3>
							<p class="full-width text-center">
								Allergy, Immunology<br>
								Cardiology<br>
								Dentistry<br>
								Dermatology<br>
								Endocrinology<br>
								Gastroenterology<br>
								Hematology, Oncology<br>
								Infectious Diseases<br>
								Internal Medicine<br>
								Nephrology<br>
								Neurology<br>
								OB/GYN<br>
								Ophthalmology<br>
								Orthopedics<br>
								Plastic Surgery<br>
								Psychiatry<br>
								Pulmonology<br>
								Radiology<br>
								Pneumatology<br>
								Specialty Pharma, Generics<br>
								Urology<br>
								Veterinary Medicine
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">HC Services</h3>
							<p class="full-width text-center">
								Clinical Trials<br>
								Contract Research<br>
								Disease Management<br>
								Drug Dist. & Wholesalers<br>
								General Surgery<br>
								Health Insurance<br>
								Healthcare IT<br>
								Home Health Care<br>
								Hospital Administration<br>
								LTC & Rehabilitation<br>
								Managed Care<br>
								Medicare & Medicaid<br>
								Pharmacy Benefits<br>
								Physician Benefits<br>
								Physician Practice<br>
								Purchasing<br>
							</p>
						</div>
					</div>

					<div class="full-width">
						<div class="col span_6">
							<h3 class="full-width text-center">Med Tech. & Devices</h3>
							<p class="full-width text-center">
								Cardiac Rhythm Devices<br>
								Coronary & Peripheral Stents<br>
								Diabetic Meters & Pumps<br>
								Diagnostics<br>
								Durable Medical Equipment<br>
								Hearing Aids<br>
								Laboratory Equipment<br>
								Med. Disposal & Supply<br>
								Orthopedic Implants<br>
								Radiological<br>
								Respiratory Aids<br>
								Surgical Equipment<br>
								Wound Care
							</p>
						</div>

						<div class="col span_6">
							<h3 class="full-width text-center">Reg. & Govt. Affairs</h3>
							<p class="full-width text-center">
								Congressional Aides<br>
								Drug Scheduling Experts<br>
								Former FDA Employees<br>
								FTC Issues<br>
								Lobbying and Policy Advocacy<br>
								Medicare and Medicaid Policy<br>
								Patent Litigation<br>
								Product Liability<br>
								Regulatory Affairs Consultants
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->


	<!-- Modal -->

	<div id="policy-modal" class="full-width market-modal">
		<div class="col span_12">
			<div class="full-width">
				<div class="full-width">
					<h2 class="full-width text-center">
						<span class="market-icons bank"></span>
						Public Policy
					</h2>
				</div>

				<div class="col span_12">

					<div class="full-width">
						<div class="col span_12">
							<h3 class="full-width text-center">Pubic Policy</h3>
							<p class="full-width text-center">
								Accounting Systems<br>
								Auditing<br>
								Corporate Accounting<br>
								Corporate Law<br>
								Energy Law<br>
								Financial Law<br>
								Healthcare Law<br>
								IP, Patent Law<br>
								Mergers and Acquisitions<br>
								Public Accounting<br>
								SEC Reporting<br>
								Securities Law
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Modal End -->


</div>
